body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe0e9;
    margin: 0;
}

.title {
    font-size: 1cm;
    margin: 30px; 
    text-align: center;
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
    color: #b9375e;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 0.2cm;
    letter-spacing: 0.1em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
    border-radius: 0.5cm;
}

.front {
    background-color: #b9375e;
}

.back {
    transform: rotateY(180deg);
    background-color: #ffffff;
}

.reset {
    margin: 0.7cm;
    padding: 15px 20px;
    color: #b9375e;
    background-color: #ffffff;
    border: none;
    font-size: 0.5cm;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.2cm;
}

.reset:hover {
    color: #ffffff;
    background-color: #b9375e;
}
